
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 33% 14%;
    --foreground: 0 0% 98%;

    --card: 240 25% 20%;
    --card-foreground: 0 0% 98%;

    --popover: 240 25% 20%;
    --popover-foreground: 0 0% 98%;

    --primary: 254 80% 75%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 25% 30%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 25% 25%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 254 70% 65%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 13% 25%;
    --input: 240 15% 30%;
    --ring: 240 4.9% 83.9%;

    --radius: 0.5rem;

    --sidebar-background: 240 33% 12%;
    --sidebar-foreground: 240 5% 84%;
    --sidebar-primary: 254 80% 75%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 25% 20%;
    --sidebar-accent-foreground: 240 5% 84%;
    --sidebar-border: 240 13% 25%;
    --sidebar-ring: 254 80% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.chart-container {
  height: 100%;
  width: 100%;
  min-height: 250px;
}
